nav, .img-row, #komodo > section, .buttons, #resumes {
  display: flex;
}

nav, a {
  color: white;
}

nav {
  background-color: #4B4B4C;
  width: 100%;
}

nav {
  top: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #859c91;
}

.centered, figcaption, main section h2, th, .monitors, section > p {
  text-align: center;
}

h1 {
  margin-right: auto;
}

.hidden {
  display: none;
}

nav {
  justify-content: space-around;
  align-items: center;
}

.caption {
  text-align: left;
}

table,
#komodo,
#monitor-table,
body,
.img-slides > figure,
button,
.img-slides {
  margin-left: auto;
  margin-right: auto;
}

#habitat > img, button {
  display: block;
}

#komodo, #monitor-table, figure, img, .img-row > img {
  padding: 15px;
}

.img-row, .buttons, #resumes {
  flex-wrap: wrap;
  justify-content: center;
}

#resumes {
  flex-direction: column;
  align-items: center;
}

#split {
  width: 50%;
}

#monitor-table {
  margin-top: 20px;
}

table {
  width: 70%;
}

table thead {
  font-weight: bold;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: #04AA6D;
}

.img-slides > figure {
  display: none;
}

img, .img-slides > figure, .img-slides > figure > img {
  width: 640px;
}

.back, .next {
  padding: 16px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: -25px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: black;
}

.back:hover, .next:hover {
  background-color: grey;
}

#resume {
  font-weight: bold;
  font-size: 1vw;
  margin: 1%;
  width: 5%;
  cursor: pointer;
  margin-right: auto;
}

#utilities {
  margin-left: auto;
}

iframe {
  width: 85%;
  height: 500px;
}